* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: #8A51FC;
}

.logo {
    width: 300px;
    display: block;
    margin: auto;
}

main {
    width: 375px;
    border-radius: 20px;
    background: #F4F4F4;
    margin: 0 auto;
    padding: 44px 24px 23px;
}

label {
    color: #777777;
    font-size: 14px;
    font-weight: 400;
}

select,
input {
    font-size: 16px;
    font-weight: 700;
    color: #555555;
    border-radius: 4px;
    border: 1px solid #BBB;
    background: #FFF;
    height: 48px;
    width: 100%;
    margin-bottom: 24px;
    cursor: pointer;
    padding-left: 18px;

}

button {
    border-radius: 5px;
    background: #772FD3;
    height: 48px;
    width: 100%;
    color: #FFF;
    font-size: 18px;
    font-weight: 700;
    cursor: pointer;
}

button:hover {
    opacity: 0.8;
}

button:active {
    opacity: 0.6;
}

section {
    border-radius: 20px;
    border: 1px solid #772FD3;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 36px;
    padding: 12px;
}

.seta-img {
    margin: 15px 0;
}

.currency-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4px;
}

.currency {
    font-size: 14px;
    color: #777777;
    font-weight: 400;
}

.currency-value, .currency-value-to-convert {
    color: #555;
    font-size: 20px;
    font-weight: 700;
}